<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>
</head>
<body>

  {% block body %}
    <table>
    {% for row in board %}
      <tr>
      {% for letter in row %}
      <td>{{ letter }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </table>
  {% endblock %}
  <br>
  <form action="/check-word" id="guess-form">
    <label for="">
      <input id="word-input" name="word" type="text">
      Word Guess
    </label>
    <button id="guess-btn">Guess it</button>
  </form>
  <div id="word-msg">

  </div>
  <br>
  <br>
  <div >The Score is: <span id ="scoreboard">0</span></div>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/script.js"></script>
</body>
</html>